//===================
//== Colors
//===================
$dark-0: #161c2d;
$dark-1: #192030;
$white: #fff;
$secondary: #7c69ef;
$yellow: #ffc107;
$green: #198754;
$danger: #df4759;
$gray-1: #12143E;
$gray-2: #576988;
$gray-3: #69748F;
$gray-4: #989EAB;
$gray-5: #BEC2CB;
$gray-6: #DBDEE4;
$gray-7: #EFF1F4;
$gray-8: #f2f7ff;
$gray-9: #fafafb;

$faded-gray-1: rgba($gray-1, 0.1);
$faded-gray-2: rgba($gray-2, 0.1);
$faded-gray-3: rgba($gray-3, 0.1);
$faded-gray-4: rgba($gray-4, 0.1);
$faded-gray-5: rgba($gray-5, 0.1);
$faded-gray-6: rgba($gray-6, 0.1);
$faded-gray-7: rgba($gray-7, 0.1);
$faded-gray-8: rgba($gray-8, 0.1);
$faded-gray-9: rgba($gray-9, 0.1);